diff-match-patch
Django==2.0.1
django-crispy-forms
django-formtools
django-import-export
django-pure-pagination
django-ranged-response
django-reversion
django-simple-captcha
captcha
django-cors-middleware
et-xmlfile
future
httplib2
jdcal
odfpy
openpyxl
Pillow==5.0.0
pytz
PyYAML
six
tablib
unicodecsv
xlrd
xlwt
pymysql
djangorestframework
msgpack
xadmin