{% extends 'base.html' %}

{% block titile %}
    公开课列表页 | 贝睿求职
{% endblock %}

{% load staticfiles %}
<!--crumbs start-->
{% block custom_bread %}
    <section>
        <div class="wp">
            <ul class="crumbs">
                <li><a href="{% url 'index' %}">首页</a>></li>
                <li>金融公司库</li>
            </ul>
        </div>
    </section>
{% endblock %}

{% block content %}
    <section>

        <div class="wp butler_list_box list">
            <div class='left'>
                <div class="listoptions">
                    <ul>

                        <li>
                            <h2>所属行业</h2>
{#                            					<div class="more">更多</div>#}
                            <div class="cont">
                                <a href="?keywords={{ search_keywords }}&city={{ city_id }}"><span
                                        class="{% ifequal industry_id "" %}active2{% endifequal %}">全部</span></a>
                                {% for indus in all_industry %}
                                    <a href="?industry={{ indus.id }}&city={{ city_id }}&keywords={{ search_keywords }}"><span
                                            class="{% ifequal indus.id|stringformat:"i" industry_id %}active2{% endifequal %}">{{ indus.name }}</span></a>
                                {% endfor %}
                            </div>
                        </li>

                        <li>
                            <h2>所在地区</h2>
{#                            					<div class="more">更多</div>#}
                            <div class="cont">
                                <a href="?industry={{ industry_id }}&keywords={{ search_keywords }}"><span
                                        class="{% ifequal city_id "" %}active2{% endifequal %}">全部</span></a>
                                {% for city in all_city %}
                                    <a href="?industry={{ industry_id }}&city={{ city.id }}&keywords={{ search_keywords }}"><span
                                            class="{% ifequal city.id|stringformat:"i" city_id %}active2{% endifequal %}">{{ city.name }}</span></a>
                                {% endfor %}
                            </div>
                        </li>

                    </ul>
                </div>
                <br>

                <div class="wp">
                    <div class="list" style="margin-top:0;">
                        <div class="left layout">
                            <div class="head">
                                <ul class="tab_header">
                                    <li class="{% ifequal sort "" %}active{% endifequal %}"><a
                                            href="?sort=time&keywords={{ search_keywords }}">最新 </a></li>
                                    <li class="{% ifequal sort "hot" %}active{% endifequal %}"><a
                                            href="?sort=hot&keywords={{ search_keywords }}">最热门</a></li>
                                </ul>
                            </div>
                            <div id="inWindow">
                                <div class="tab_cont " id="content">
                                    <div class="group_list">
                                        {% for ele in all_company.object_list %}
                                            <div class="box">

                                                <a href="{% url 'jobs:com_detail' ele.id %}">
                                                    <img width="150" height="170" class="scrollLoading"
                                                         src="{{ MEDIA_URL }}{{ ele.image }}"/>
                                                </a>
                                                <div class="des">
{#                                                    <a href="{% url 'course:course_detail' course.id %}">#}
{#                                                        <h3>{{ ele.name }}</h3>#}
{#                                                    </a>#}
{#                                                    <span class="fl">地址：#}
{#                                                        <i class="key">{{ele.city }}</i></span>#}
                                                    <span class="fl">标签：{{ ele.tags }}&nbsp;&nbsp;</span>
                                                </div>
                                                <div class="bottom">
                                                    <a href="{% url 'jobs:com_detail' ele.id %}"><span
                                                            class="fl"> {{ ele.name }}</span></a>
                                                    <span class="star fr  notlogin
                                                                                " data-favid="15">
                                                                 {{ ele.collect_num }}
                                                                            </span>
                                                </div>
                                            </div>

                                        {% endfor %}

                                    </div>
                                    <div class="pageturn">
                                        <ul class="pagelist">
                                            {% if all_company.has_previous %}
                                                <li class="long"><a
                                                        href="?{{ all_company.previous_page_number.querystring }}">上一页</a>
                                                </li>
                                            {% endif %}
                                            {% for page in all_company.pages %}
                                                {% if page %}
                                                    {% ifequal page all_company.number %}
                                                        <li class="active"><a
                                                                href="?{{ page.querystring }}">{{ page }}</a></li>
                                                    {% else %}
                                                        <li><a href="?{{ page.querystring }}">{{ page }}</a></li>
                                                    {% endifequal %}
                                                {% else %}
                                                    <li class="none"><a href="">...</a></li>
                                                {% endif %}
                                            {% endfor %}
                                            {% if all_company.has_next %}
                                                <li class="long"><a
                                                        href="?{{ all_company.next_page_number.querystring }}">下一页</a>
                                                </li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
    </section>
{% endblock %}