{% extends 'base.html' %}

{% block titile %}
    公开课评论| 贝睿求职
{% endblock %}

{% load staticfiles %}
<!--crumbs start-->
{% block custom_bread %}
    <!--     <section>
        <div class="wp">
            <div class="crumbs">
                <ul>
                    <li><a href="{% url 'index' %}">首页</a>></li>
                    <li><a href="{% url 'jobs:com_list' %}">机构列表</a>></li>

                    <li>机构点评</li>
                </ul>
            </div>
        </div>
    </section> -->
{% endblock %}

{% block custom_css %}
    <!--     <link rel="stylesheet" type="text/css" href="{% static 'css/muke/course/learn-less.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/muke/course/course-comment.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/muke/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/muke/common-less.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/muke/course/common-less.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/mooc.css' %}"/> -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock %}
{% block content %}

    <style type="text/css">
        #dp-up-wrap {
            width: 950px;
            height: 180px;
            border-bottom: 2px #eaeaea solid;
            margin-bottom: 15px;
            background: #fff;
            padding: 20px;
        }

        .comp-img {
            width: 240px;
            float: left;
            border: 1px #eaeaea solid;
        }

        .comp-meta {
            width: 320px;
            float: left;
            border: 1px #eaeaea solid;
            text-align: center;
            margin-left: 20px;
        }

        .comp-score {
            width: 320px;
            float: right;
            margin-left: 20px;
            text-align: center;;
        }

        .comp-img {
            width: 240px;
            float: left;
            border: 1px #eaeaea solid;
        }

        .down-left {
            width: 650px;
            float: left;
            background: #fff;
            padding: 20px;
        }

        .down-right {
            width: 250px;
            float: right;
            background: #fff;
            padding: 20px;
        }

        .score {
            height: 120px;
            margin-bottom: 10px;
            border-bottom: 1px #ede8e2 solid;
        }


    </style>




    <div class="wp">
        <div id="dp-up">
            <div id="dp-up-wrap">
                <div class="comp-img" style=""><img src='{{ MEDIA_URL }}{{ company.image }}' width='240' height='160'/></div>

                <div class="comp-meta">
                    <div>{{ company.introduction }}</div>
                    <div>
                        <ul>
                            <li>薪酬待遇：5分</li>
                            <li>职业发展：5分</li>
                            <li>企业文化：5分</li>
                            <li>升职速度：5分</li>
                        </ul>


                    </div>


                </div>


                <div class="comp-score">综合得分4.8
                    <div style="margin:60px;background:#fb8341;/*! border:1px #aeaeae solid; */font-size:18px;font-weight:bold;color: #fff;">写点评</div>
                </div>
                <div class="clear"></div>
            </div>
        </div>


        <div id="dp-down">
            <div class="down-left">
                <div class="jobtit">真实点评</div>
                <div class="score">
                    <ul>
                        <li>薪酬待遇：5分</li>
                        <li>职业发展：5分</li>
                        <li>企业文化：5分</li>
                        <li>升职速度：5分</li>
                    </ul>


                </div>






                {% for comment in all_comments.object_list %}

                    <div class="company_post" style="">
                        <div style="float:left;margin-right:0px;width:50px;">
                            <div style="width: 35px;height: 35px; border-radius: 50%;overflow:hidden;"><img src='{{ MEDIA_URL }}{{ comment.user.image }}'
                                                                                                            width='35' height='35'/></div>


                        </div>


                        <div style="float:left;width:600px;">
                            <div class="company_post_tit"><h2> {{ comment.user }} 在职-{{ comment.job_time }}年<a href="#">
                                &nbsp;&nbsp; {{ comment.department }}-{{ comment.job }}
                                <span style="float:right">工作强度：{{ comment.job_strength_rating }}&nbsp;&nbsp;  文化氛围:{{ comment.job_culture_env_rating }}&nbsp;&nbsp; 薪酬：{{ comment.job_payment }}K/M&nbsp;&nbsp;   综合评价：{{ comment.rating }}星</span></a>
                            </h2></div>
                            <div class="company_post_body"><p> {{ comment.comments }}</p></div>
                            <div class="company_post_meta"><p>

                                点评时间：{{ comment.add_time }}
                                <span style="float:right">赞 &nbsp;&nbsp;回复&nbsp;&nbsp;收藏 </span>

                            </p></div>
                        </div>
                        <div class="clear"></div>

                    </div>
                {% endfor %}









                <div class="pageturn">
                    <ul class="pagelist">
                        {% if all_comments.has_previous %}
                            <li class="long"><a href="?{{ all_comments.previous_page_number.querystring }}">上一页</a>
                            </li>
                        {% endif %}
                        {% for page in all_comments.pages %}
                            {% if page %}
                                {% ifequal page all_comments.number %}
                                    <li class="active"><a href="?{{ page.querystring }}">{{ page }}</a></li>
                                {% else %}
                                    <li><a href="?{{ page.querystring }}">{{ page }}</a></li>
                                {% endifequal %}
                            {% else %}
                                <li class="none"><a href="">...</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if all_comments.has_next %}
                            <li class="long"><a
                                    href="?{{ all_comments.next_page_number.querystring }}">下一页</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>


            </div>


            <div class="down-right">
                <div class="jobtit" style="text-align:center">相关岗位</div>


            </div>

            <div class="clear"></div>
        </div>


    </div>



















    <div id="main">
        <div class="course-infos">
            <div class="w pr">
                <div style="height: 15px" class="path">
                </div>
                <div class="hd">
                    <h2 class="l">&nbsp;&nbsp;{{ company.name }}</h2>
                </div>
                <div class="statics clearfix">
                    <div class="static-item ">
                        <span class="meta-value">{{ company.address }}</span>
                        <span class="meta">地点</span>
                        <em></em>
                    </div>
                    <div class="static-item">
                        <span class="meta-value">{{ company.tags }}</span>
                        <span class="meta">标签</span>
                        <em></em>
                    </div>
                    <div class="static-item">
                        <span class="meta-value">{{ company.collect_num }}</span>
                        <span class="meta">关注人数</span>
                        <em></em>
                    </div>
                </div>
            </div>
        </div>
        <div class="course-info-main clearfix w has-progress">

            <div class="info-bar clearfix">
                <div class="content-wrap clearfix">
                    <div class="content">
                        <div class="mod-tab-menu">
                            <ul class="course-menu clearfix">
                                <li><a class="ui-tabs-active active" id="learnOn" id="commentOn"
                                       class=""><span>评论</span></a></li>
                            </ul>
                        </div>


                        <div id="js-pub-container" class="issques clearfix js-form">
                            <div class="wgt-ipt-wrap pub-editor-wrap " id="js-pl-input-fake">
                                <textarea id="js-pl-textarea" class="" placeholder="请输入你想说的..."></textarea>
                            </div>
                            <input type="button" id="js-pl-submit" class="pub-btn" data-cid="452" value="发表评论">
                            <p class="global-errortip js-global-error"></p>
                        </div>
                        <div id="course_note">
                            <ul class="mod-post" id="comment-list">

                                {% for comment in all_comments.object_list %}
                                    <li class="post-row">
                                        <div class="media">
                                            <span target="_blank"><img src='{{ MEDIA_URL }}{{ comment.user.image }}'
                                                                       width='40' height='40'/></span>
                                        </div>
                                        <div class="bd">
                                            <div class="tit">
                                                <span target="_blank">{{ comment.user.nick_name }}</span>
                                            </div>
                                            <p class="cnt">{{ comment.comments }}</p>
                                            <div class="footer clearfix">
                                                <span title="创建时间" class="l timeago">时间：{{ comment.add_time }}</span>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}

                            </ul>


                            <div class="pageturn">
                                <ul class="pagelist">
                                    {% if all_comments.has_previous %}
                                        <li class="long"><a href="?{{ all_comments.previous_page_number.querystring }}">上一页</a>
                                        </li>
                                    {% endif %}
                                    {% for page in all_comments.pages %}
                                        {% if page %}
                                            {% ifequal page all_comments.number %}
                                                <li class="active"><a href="?{{ page.querystring }}">{{ page }}</a></li>
                                            {% else %}
                                                <li><a href="?{{ page.querystring }}">{{ page }}</a></li>
                                            {% endifequal %}
                                        {% else %}
                                            <li class="none"><a href="">...</a></li>
                                        {% endif %}
                                    {% endfor %}
                                    {% if all_comments.has_next %}
                                        <li class="long"><a
                                                href="?{{ all_comments.next_page_number.querystring }}">下一页</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>


                        </div>

                    </div>
                    <div class="aside r">
                        <div class="bd">

                            <div class="box mb40">
                                <h4>机构简介</h4>
                                <div class="course-info-tip">
                                    <img src='{{ MEDIA_URL }}{{ company.image }}' width='205' height='100' />
                                    <dl class="first">
                                        <dt>{{ company.introduction }}</dt>

                                    </dl>

                                </div>

                            </div>
                            <div class="box mb40">
                                <h4>贝睿点评</h4>

                                <div class="course-info-tip">
                                    <dl class="first">
                                        <dt>{{ company.br_comment }}</dt>

                                    </dl>

                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="clear"></div>

            </div>

        </div>
    </div> 











{% endblock %}
{% block custom_js %}
    <script type="text/javascript">
        //添加评论
        $('#js-pl-submit').on('click', function () {
            var comments = $("#js-pl-textarea").val()
            if (comments == "") {
                alert("评论不能为空")
                return
            }
            $.ajax({
                cache: false,
                type: "POST",
                url: "{% url 'jobs:add_org_comment' %}",
                data: {'company_id':{{ company.id }}, 'comments': comments},
                async: true,
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                },
                success: function (data) {
                    if (data.status == 'fail') {
                        if (data.msg == '用户未登录') {
                            window.location.href = "{% url 'login' %}";
                        } else {
                            alert(data.msg)
                        }

                    } else if (data.status == 'success') {
                        window.location.reload();//刷新当前页面.
                    }
                },
            });
        });

    </script>
{% endblock %}
