{% extends 'base.html' %}
{% block titile %}
    搜索结果页 | 贝睿求职
{% endblock %}
{% load staticfiles %}
<!--crumbs start-->
{% block custom_bread %}
    <!--     <section>
        <div class="wp">
            <ul class="crumbs">
                <li><a href="{% url 'index' %}">首页</a>></li>
                <li>职位列表</li>
            </ul>
        </div>
    </section> -->
{% endblock %}
{% block content %}
    <section>
        <div class="wp">
            <div style="float: left; width:650px; background:#fff;padding:20px;">
                <div style="width:650px">
                    <div class="layout">

                        {% for job in all_jobs.object_list %}
                            <div class="job_post">
                                <div class="job_post_tit">
                                    <h2>
                                        <i>【{{ job.city }}】</i>
                                        <a href="{% url 'jobs:job_detail' job.id %}"> {{ job.company.name }}- {{ job.title }}</a>
                                        <span style="float:right"> ★★★★★（贝睿评级）</span>
                                    </h2>
                                </div>
                                <div class="job_post_body">
                                    <p>  {{ job.responsibility }}<br/> {{ job.requirement }}</p>
                                </div>
                                <div class="job_post_meta">
                                    <p>
                                        <span>{{ job.job_type }}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <span>部门：{{ job.depart }}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <span>发布时间：{{ job.add_time }}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <span>职位编号：{{ job.id }}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                                        <span>收藏</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <span>查看点评数据</span>
                                        <span style="float:right">
                                        <a href="{% url 'jobs:job_detail' job.id %}" target="_blank"> ....详情&nbsp;&nbsp;</a>
                                    </span>
                                    </p></div>
                                <div class="clear"></div>
                            </div>
                        {% endfor %}

                        <div style="width: 650px;float: left;background: #fff;padding: 20px;">
                            {% for ele in all_company.object_list %}
                                <div class="company_post" style="">
                                    <div style="float:left;margin-right:15px;width:150px;">
                                        <div style="width: 140px;height: 100px; overflow:hidden;border:1px #eaeaea solid">
                                            <a href="{% url 'jobs:com_detail' ele.id %}">
                                                <img width="140" height="100" class="scrollLoading" src="{{ MEDIA_URL }}{{ ele.image }}"/>
                                            </a>
                                        </div>
                                    </div>

                                    <div style="float:left;width:420px;">
                                        <div class="company_post_tit">
                                            <h2>
                                                <a href="{% url 'jobs:com_detail' ele.id %}">  {{ ele.name }}</a>&nbsp;
                                                &nbsp;&nbsp;<span style="float:right"> 平均薪酬：3万/月 &nbsp;&nbsp; &nbsp;&nbsp;综合评分：8分</span>
                                            </h2>
                                        </div>
                                        <div class="company_post_body">
                                            <p> 标签：{{ ele.tags }}</p>
                                        </div>
                                        <div class="company_post_meta">
                                            <p>行业：{{ ele.industry }} &nbsp;&nbsp;&nbsp;贝睿评级：I级 &nbsp;&nbsp;&nbsp;点评数据（550条）
                                                <span style="float:right">赞 &nbsp;&nbsp;  &nbsp;&nbsp;收藏 &nbsp;&nbsp;  &nbsp;&nbsp;写点评 </span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            {% endfor %}
                        </div>


                        <div class="group_list">
                            {% for course in all_course.object_list %}
                                <div class="box">
                                    <a href="{% url 'course:course_detail' course.id %}">
                                        <img width="180" height="350" class="scrollLoading" src="{{ MEDIA_URL }}{{ course.image }}"/>
                                    </a>
                                    <div class="des">
                                        <a href="{% url 'course:course_detail' course.id %}">
                                            <h2>{{ course.name }}</h2>
                                        </a>
                                    </div>
                                    <div class="bottom">
                                        <a href="{% url 'course:course_detail' course.id %}">
                                            <span class="fl">来自{{ course.course_org.name }}</span>
                                        </a>
                                        <span class="star fr  notlogin" data-favid="15">
                                                {{ course.fav_nums }}
                                        </span>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>

                        <div class="pageturn">
                            <ul class="pagelist">
                                {% if all_jobs.has_previous %}
                                    <li class="long"><a href="?{{ all_orgs.previous_page_number.querystring }}">上一页</a></li>
                                {% endif %}
                                {% for page in all_jobs.pages %}
                                    {% if page %}
                                        {% ifequal page all_jobs.number %}
                                            <li class="active"><a href="?{{ page.querystring }}">{{ page }}</a></li>
                                        {% else %}
                                            <li><a href="?{{ page.querystring }}">{{ page }}</a></li>
                                        {% endifequal %}
                                    {% else %}
                                        <li class="none"><a href="">...</a></li>
                                    {% endif %}
                                {% endfor %}
                                {% if all_jobs.has_next %}
                                    <li class="long"><a href="?{{ all_jobs.next_page_number.querystring }}">下一页</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div style="float:right; width:250px;height: 500px; background:#fff;padding:20px;">
                <div class="head">贝睿推荐</div>
                {% for curent_org in hot_orgs %}
                    <dl class="des">
                        <dt class="num fl">{{ forloop.counter }}</dt>
                        {#                        <dd>#}
                        {#                            <a href="{% url 'org:org_home' curent_org.id %}"><h1>{{ curent_org.name }}</h1></a>#}
                        {#                            <p>{{ curent_org.address }}</p>#}
                        {#                        </dd>#}
                    </dl>
                {% endfor %}
            </div>
            <div class="clear"></div>
        </div>
    </section>
{% endblock %}

{% block custom_js %}
    <script type="text/javascript">
        function showContent(id) {
            {#var text = $(this).text();#}
            console.log(id)
            var content = $("#li_1");
            content.slideToggle()
        }
    </script>
{% endblock %}

