{% extends 'base.html' %}
{% block titile %}
    贝睿科技-金融智能求职专家
{% endblock %}
{% load staticfiles %}
<!--crumbs start-->
{% block custom_bread %}
{% endblock %}
{% block content %}
    <!--中间层开始-->
    <div id="center">
        <div id=content>
            <div id="job">
                <div class="jobtit">热门岗位> &nbsp;&nbsp;
                    <span style="float:right">
                        <a href="{% url 'jobs:job_list' %}" style="font-size:12px">查看更多信息 ></a>
                    </span>
                </div>

                {% for job in jobs %}
                    <div class="job_post">
                        <div class="job_post_tit">
                            <h2>
                                <i>【{{ job.city }}】</i>
                                <a href="{% url 'jobs:job_detail' job.id %}"> {{ job.company.name }}- {{ job.title }}</a>
                                <span style="float:right"> ★★★★★（贝睿评级）</span>
                            </h2>
                        </div>
                        <div class="job_post_body">
                            <p>  {{ job.responsibility }}<br/> {{ job.requirement }}</p>
                        </div>
                        <div class="job_post_meta">
                            <p>
                                <span>{{ job.job_type_desc }}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <span>部门：{{ job.depart }}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <span>发布时间：{{ job.add_time |date:"Y-m-d" }}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                {#                                <span>职位编号：{{ job.id }}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#}
                                <span><a onclick="add_fav(this,{{ job.id }},5)">收藏</a></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <span>查看点评数据</span>
                                <span style="float:right">
                                    <a href="{% url 'jobs:job_detail' job.id %}" target="_blank"> ....详情&nbsp;&nbsp;</a>
                                </span>
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div style="height:10px;background:#f2f5f4;margin-bottom:10px"></div>

            <div id="company">
                <div class="jobtit">热门点评> &nbsp;&nbsp;
                    <span style="float:right">
                        <a href="{% url 'jobs:com_list' %}" style="font-size:12px">查看更多机构点评 ></a>
                    </span>
                </div>

                <div class="company_post">
                    <div class="company_post_tit"><h2>
                        <a href="#">易方达基金&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;很怀念的生活 &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;薪酬：20K/M </a></h2></div>
                    <div class="company_post_body">
                        <p> 易方达作为买方龙头，福利待遇一直很好，正式员工，到手的话有3-4万元，主要发展历程是研究员-基金经理-投资总监，后面会出来做私募；</p>
                    </div>
                    <div class="company_post_meta">
                        <p><a href="#">user2 &nbsp;&nbsp; 离职人员（曾工作2年） &nbsp;&nbsp; &nbsp;&nbsp; 投研部&nbsp;&nbsp; &nbsp;&nbsp;北京</a></p>
                    </div>
                </div>

                {% for org in orgs %}
                    <div class="company_post">
                        <div class="company_post_tit">
                            <h2>
                                <a href="{% url 'jobs:com_detail' org.id %}">{{ org.name }}:{{ org.city }}:{{ org.industry }}:{{ org.tags }}:{{ company.tags }}{{ comment.comments }}:{{ company.user }}{{ comment.job_payment }}</a>
                            </h2>
                        </div>
                        <div class="company_post_body">
                            总体评价还可以，作为行业龙头。到手工资有3w多，里面工作环境也挺好，升职也比较快
                        </div>
                        <div class="company_post_meta">
                            <p><a href="#">{{ org.industry.name }};&nbsp; 实习生/（1年） &nbsp;&nbsp;&nbsp;&nbsp; 投行部 &nbsp;&nbsp;&nbsp;&nbsp; 北京</a></p>
                        </div>
                    </div>
                {% endfor %}

            </div>

            <div style="height:8px;background:#f2f5f4;margin-bottom:10px"></div>
        </div>
        <!-- content层结束，aside层开始 -->

        <div id="aside">
            <div id="test">
                <div class="jobtit" style="text-align:center">智能职场测评</div>

                <div class="test_post">
                    <div class="test_post_tit"><a href="#"><img src="{% static 'images/1.png' %}" width="220" height="90" alt="职场竞争力测试"></a></div>
                </div>
                <div class="test_post">
                    <div class="test_post_tit"><a href="http://www.ebeirui.com/evaluation/xg/">
                        <img src="{% static 'images/2.png' %}" width="220" height="90" alt="性格测试"></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="clear"></div>
    </div>

{% endblock %}

{% block custom_js %}
    <script type="text/javascript" src="{% static 'js/index.js' %}"></script>
    <script type="text/javascript">
        //收藏分享
        function add_fav(current_elem, fav_id, fav_type) {
            $.ajax({
                cache: false,
                type: "POST",
                url: "{% url "org:add_fav" %}",
                data: {'fav_id': fav_id, 'fav_type': fav_type},
                async: true,
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                },
                success: function (data) {
                    if (data.status == 'fail') {
                        if (data.msg == '用户未登录') {
                            window.location.href = "{% url 'login' %}?next={{ request.path }}";
                        } else {
                            alert(data.msg)
                        }

                    } else if (data.status == 'success') {
                        current_elem.text(data.msg)
                    }
                },
            });
        }

    </script>
{% endblock %}