{% extends 'base.html' %}

{% block titile %}
    职位详情 |贝睿求职
{% endblock %}

{% load staticfiles %}
<!--crumbs start-->
{% block custom_bread %}
    <!--     <section>
        <div class="wp">
            <ul class="crumbs">
                <li><a href="{% url 'index' %}">首页</a>></li>
                <li><a href="{% url 'jobs:job_list' %}">职位列表</a>></li>
                <li>职位详情</li>
            </ul>
        </div>
    </section> -->
{% endblock %}


{% block content %}
    <section>
        <div class="wp">
            <div style="width:650px;background:#fff;float:left;padding:20px;">

                <div style="height: 110px;border:1px #eaeaea solid; padding:20px;">

                    <div>
                        <h2>{{ job.company }}-{{ job.title }}</h2>
                        工作地点：<span>{{ job.city }}</span>
                        <br/>工作部门：<span>{{ job.depart }}</span>
                        <br/>发布时间：<span>{{ job.add_time }}&nbsp;</span>
                        <br/>推荐指数：<span>{{ job.recommend_level }} </span>

                    </div>

                </div>


                <div style="min-height:260px;border:1px #eaeaea solid; padding:20px;">

                    <h2>岗位职责:</h2> {{ job.responsibility }}


                    <br/>
                    <br/>
                    <h2>岗位要求:</h2> {{ job.requirement }}

                    <br/>
                    <br/>
                    <h2>联系方式:</h2>{{ job.contact }}

                </div>

            </div>


            <div style="width:250px;background:#fff;float:right;padding:20px;">
                <div class="butler_detail_list">
                    <div class="right butler-company-box">
                        <div class="head">
                            <h1>{{ job.company.name }}</h1>
                        </div>
                        <div class="pic">
                            {#                            <a href="{% url 'org:org_home' teacher.org.id %}">#}
                            <img width="150" height="80" src="{{ MEDIA_URL }}{{ job.company.image }}"/>
                            {#                            </a>#}
                        </div>

                        <p class="center-nav tell">简介：{{ job.company.introduction }}</p>

                    </div>
                </div>

            </div>
        </div>

        <div class="clear"></div>

    </section>

{% endblock %}


